table{
  width: 600px;
  margin: 50px auto;
  background: #663399;
  border: none;
  border-radius:10px;
  padding: 0px 20px 20px;
}
.heading{
  color:white;
  font-size: 230%;
  text-align: center;
}
#input, #answer{
  width:550px;
  height: 50px;
  font-size: 230%;
  text-align: right;
  border: none;
}

#input{
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 2px 2px black;
  color: #1e1e1e;
}
#answer{
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 2px black;
}
input[type=button]{
  height: 133px;
  width: 133px;
  color: blue;
  font-size: 230%;
  background: white;
  margin: 1px;
  border-radius: 8px;
  border:none;
}
input[type=button]:hover{
  background: #cbcbcb;
  cursor: pointer;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  table, #input, #answer{
    width: 100%;
  }
}
